{% extends "base_generic.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
<h1>Tr Home</h1>

  <p class="lead" >Welcome to <em> the Tr Handler</em> designed for easy TR tracking</p>

<h2 class="display-2">ALL TRS</h2>

  <p class="lead" > Table of all TRs retrieved from mailing list</p>
  <table class="table table-striped">
    <tr>
      <th>Tr_NO</th>
      <th>From Team</th>
      <th>To Team</th>
      <th>Published</th>
      <th>Priority</th>
      <th>Owner</th>
      <th>Comments</th>


    </tr>
    {% for Tr in object_list %}
    <tr>
      <td id=Tables  ><a href="{{ Tr.TrUpdater }}"> {{ Tr.Tr_NO }}</a> </td>
      <td id=Tables  >  {{ Tr.FromTeam }}  </td>
      <td id=Tables  >  {{ Tr.ToTeam }}  </td>
      <td id=Tables  >  {{ Tr.Pub_date }}  </td>
      <td id=Tables  >  {{ Tr.Prior_Int }} </td>
      <td id=Tables  >  {{ Tr.owner }} </td>
      <td id=Tables  >  {{ Tr.comments }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}